* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p,
h2,
ul {
  color: white;
}


body {
  background-color: #313030;
}

#LOGO {
  height: 200px;
  width: 200px;
}

header {
  display: flex;
  align-items: center;
  /*justify-content: space-between; */
  gap: 15px;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    a {
      color: white;
      font-size: 42px;
      text-decoration: none;
    }
  }
}

nav a:hover {
  color: #ffffff; /* Cor azul ao passar o mouse */
  background-color: #4daedc; /* Fundo claro ao passar o mouse */
  border-radius: 5px;
}

main {
  section {
    &.bloco2 {
      display: flex;
    }
  }

  .section3 {
    display: flex;
    align-items: center;

    .sub {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      justify-content: stretch;
      flex: 1;
    }
  }

  .description p {
    text-align: justify;
  }

  p {
    margin: 12px 0px;
  }

  #FraseArnold,
  #Citacao {
    text-align: center;
  }
  #FraseArnold {
    font-style: italic;
    font-size: 14px;
  }

  #Citacao {
    font-size: 10px;
  }

  #Arnold {
    height: 700px;
    width: 100%;
    object-fit: cover;
    object-position: top center;
  }

  .lateral img {
    height: 400px;
    width: 250px;
  }

  h2 {
    text-align: center;
    font-size: 42px;
    margin: 40px 0px;
  }

  #Tipos img {
    height: 250px;
    width: 500px;
    object-fit: cover;
    border-radius: 50px;
  }

  .GRANDEX {
    height: 100px;
    border-radius: 5px;
    position: relative;
    &:after {
      content: "\d7";
      font-size: 300px;
      color: #fff;
      line-height: 100px;
      text-align: center;
    }
  }

  #Tipos {
    box-sizing: border-box;
    text-align: center;

    .TextosTipos {
      padding-left: 50px;
      padding-right: 80px;
    }
  }

  #Fatos {
    h2 {
      margin: 20px 0px;
    }
    .FatoFis {
      justify-content: center;
    }
    img {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-content: center;
      align-self: center;
      height: 400px;
      width: 700px;
    }

    hr {
      padding-bottom: 20px;
    }
  }

  ul {
    margin: 30px 10px;
    padding-left: 150px;
  }

}

footer {
  padding-top: 60px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  /*justify-content: space-between; */
  gap: 15px;
  justify-content: space-evenly;
  div {
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* {
          color: white;
          font-size: 42px;
          text-decoration: none;
  
      } */
  }
}
